.premium-container {
    justify-content: center;
}

.premium-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 65vh;
}

.premium-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: White;
}

.premium-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.premium-form-title {
    text-align: center;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

.premium-unordered-list {
    padding: 10px;
    margin: 10px;
}

.premium-list {
    margin: 20px 0px 20px 0px;
}